*/*/config.old
*/*/rootfs_config.old
build/
images/linux/
pre-built/linux/
.petalinux/*
!.petalinux/metadata
*.o
*.jou
*.log
project-spec/meta-plnx-generated/
/components/plnx_workspace

build/*
pre-built/*
images/linux/*
.petalinux/usage_statistics_token
.petalinux/usage_statistics
project-spec/configs/config.old
project-spec/configs/rootfs_config.old
components/plnx_workspace/.metadata/*
project-spec/meta-plnx-generated/recipes-kernel/linux/linux-xlnx_%.bbappend
project-spec/meta-plnx-generated/recipes-bsp/device-tree/device-tree-generation_%.bbappend
project-spec/meta-plnx-generated/recipes-bsp/u-boot/configs/config.cfg
project-spec/meta-plnx-generated/recipes-bsp/u-boot/u-boot-xlnx_%.bbappend
components/plnx_workspace/pmu-firmware/Release/src/subdir.mk
components/plnx_workspace/fsbl/Release/src/subdir.mk
components/plnx_workspace/pmu-firmware/.cproject
components/plnx_workspace/pmu-firmware_bsp/.cproject
components/plnx_workspace/fsbl_bsp/.cproject
components/plnx_workspace/fsbl/.cproject
