/include/ "system-conf.dtsi"
/ {
   chosen {
      bootargs = "earlycon console=ttyPS0,115200 clk_ignore_unused cpuidle.off=1 root=/dev/mmcblk0p1 rootfstype=ext4 rw rootwait ";
      stdout-path = "serial0:115200n8";
   };
};

&gem0 {
    phy-handle = <&phy9>;
    phy9: phy@9 {
        reg = <0x9>;
        xlnx,phy-type = <0x4>;
		reset-gpios = <&gpio 78 0>;
    };
};
