/include/ "system-conf.dtsi"
/ {
    chosen {
        bootargs = "earlycon console=ttyPS0,115200 clk_ignore_unused cpuidle.off=1 root=/dev/mmcblk0p1 rootfstype=ext4 rw rootwait ";
        stdout-path = "serial0:115200n8";
    };
    dma_proxy {  
        compatible ="xlnx,dma_proxy";
        dmas = <&RF_interface_conv_Xband_axi_dma_Xband_txrx 0  &RF_interface_conv_Xband_axi_dma_Xband_txrx 1>;
        dma-names = "dma_proxy_tx", "dma_proxy_rx";  
        dma-coherent;
    };
};

&gem0 {
    phy-handle = <&phy9>;
    phy9: phy@9 {
        reg = <0x9>;
        xlnx,phy-type = <0x4>;
		reset-gpios = <&gpio 78 0>;
    };
};

&gem1 {
    phy-handle = <&phy8>;
    phy8: phy@8 {
        reg = <0x8>;
        xlnx,phy-type = <0x4>;
		reset-gpios = <&gpio 79 0>;
    };
};

&gem2 {
    phy-handle = <&phy7>;
    phy7: phy@7 {
        reg = <0x7>;
        xlnx,phy-type = <0x4>;
		reset-gpios = <&gpio 80 0>;
    };
};
